In [35]:
from scipy.io import arff
import pandas as pd
import numpy as np

# Loading the testing data into pandas
data_train = arff.loadarff('features/video/AU/train_1_3.0_0.4.arff')
data_train = pd.DataFrame(data_train[0])
data_train

,frametime,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,AU12_r_mean,...,AU10_r_std,AU12_r_std,AU14_r_std,AU15_r_std,AU17_r_std,AU20_r_std,AU23_r_std,AU25_r_std,AU26_r_std,AU45_r_std
0,0.0,0.106990,0.0,0.025586,0.017015,1.6269,1.1688,0.34401,1.1969,1.0471,...,0.41313,0.64237,0.35901,0.14949,0.57717,0.11262,0.38203,0.78689,0.22132,0.079360
1,0.4,0.069754,0.0,0.029648,0.019715,1.7723,1.2874,0.39672,1.2833,1.2055,...,0.37360,0.54111,0.28882,0.15247,0.60335,0.11909,0.41000,0.83146,0.21288,0.085122
2,0.8,0.002540,0.0,0.035241,0.023435,1.8912,1.3600,0.46930,1.3793,1.3525,...,0.31706,0.44681,0.27850,0.16391,0.57446,0.12654,0.44515,0.88307,0.15062,0.092345
3,1.2,0.000000,0.0,0.043437,0.028885,1.9639,1.4077,0.55417,1.4234,1.4557,...,0.33058,0.43409,0.28706,0.18108,0.58228,0.13489,0.49113,0.92663,0.14982,0.101760
4,1.6,0.000000,0.0,0.056600,0.037638,2.0157,1.4732,0.61232,1.4870,1.5672,...,0.34367,0.43803,0.30839,0.20503,0.65853,0.14299,0.55580,0.96186,0.16680,0.114740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,298.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,298.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,299.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
749,299.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# loading label data

# import arff 

data_label = arff.loadarff('dev_1.arff')
data_label = pd.DataFrame(data_label[0])
data_label

      frametime  GoldStandard
0          0.00     -0.022925
1          0.04     -0.022925
2          0.08     -0.022925
3          0.12     -0.022925
4          0.16     -0.022925
...         ...           ...
7496     299.84     -0.109591
7497     299.88     -0.111258
7498     299.92     -0.107925
7499     299.96     -0.112925
7500     300.00     -0.117925

[7501 rows x 2 columns]

In [43]:
data_train.merge(data_label, how='left', on='frametime')

,frametime,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,AU12_r_mean,...,AU12_r_std,AU14_r_std,AU15_r_std,AU17_r_std,AU20_r_std,AU23_r_std,AU25_r_std,AU26_r_std,AU45_r_std,GoldStandard
0,0.0,0.106990,0.0,0.025586,0.017015,1.6269,1.1688,0.34401,1.1969,1.0471,...,0.64237,0.35901,0.14949,0.57717,0.11262,0.38203,0.78689,0.22132,0.079360,-0.022925
1,0.4,0.069754,0.0,0.029648,0.019715,1.7723,1.2874,0.39672,1.2833,1.2055,...,0.54111,0.28882,0.15247,0.60335,0.11909,0.41000,0.83146,0.21288,0.085122,-0.022925
2,0.8,0.002540,0.0,0.035241,0.023435,1.8912,1.3600,0.46930,1.3793,1.3525,...,0.44681,0.27850,0.16391,0.57446,0.12654,0.44515,0.88307,0.15062,0.092345,-0.007925
3,1.2,0.000000,0.0,0.043437,0.028885,1.9639,1.4077,0.55417,1.4234,1.4557,...,0.43409,0.28706,0.18108,0.58228,0.13489,0.49113,0.92663,0.14982,0.101760,0.007075
4,1.6,0.000000,0.0,0.056600,0.037638,2.0157,1.4732,0.61232,1.4870,1.5672,...,0.43803,0.30839,0.20503,0.65853,0.14299,0.55580,0.96186,0.16680,0.114740,0.010408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,298.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.159591
747,298.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.184591
748,299.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.191258
749,299.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.122925
750,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.117925

In [44]:
data_train.merge(data_label, how='right', on='frametime')

,frametime,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,AU12_r_mean,...,AU12_r_std,AU14_r_std,AU15_r_std,AU17_r_std,AU20_r_std,AU23_r_std,AU25_r_std,AU26_r_std,AU45_r_std,GoldStandard
0,0.00,0.106990,0.0,0.025586,0.017015,1.6269,1.1688,0.34401,1.1969,1.0471,...,0.64237,0.35901,0.14949,0.57717,0.11262,0.38203,0.78689,0.22132,0.079360,-0.022925
1,0.40,0.069754,0.0,0.029648,0.019715,1.7723,1.2874,0.39672,1.2833,1.2055,...,0.54111,0.28882,0.15247,0.60335,0.11909,0.41000,0.83146,0.21288,0.085122,-0.022925
2,0.80,0.002540,0.0,0.035241,0.023435,1.8912,1.3600,0.46930,1.3793,1.3525,...,0.44681,0.27850,0.16391,0.57446,0.12654,0.44515,0.88307,0.15062,0.092345,-0.007925
3,1.20,0.000000,0.0,0.043437,0.028885,1.9639,1.4077,0.55417,1.4234,1.4557,...,0.43409,0.28706,0.18108,0.58228,0.13489,0.49113,0.92663,0.14982,0.101760,0.007075
4,1.60,0.000000,0.0,0.056600,0.037638,2.0157,1.4732,0.61232,1.4870,1.5672,...,0.43803,0.30839,0.20503,0.65853,0.14299,0.55580,0.96186,0.16680,0.114740,0.010408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,299.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.109591
7497,299.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.109591
7498,299.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.111258
7499,299.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.107925
7500,299.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.112925

In [46]:
from scipy.io import arff
import pandas as pd

# Loading the testing data into pandas
data_train = arff.loadarff('features/video/AU/train_1_3.0_0.4.arff')
data_train = pd.DataFrame(data_train[0])
# print(data_train)

data_label = arff.loadarff('labels/arousal/train_1.arff')
data_label = pd.DataFrame(data_label[0])
# print(data_label)

data_label_valence = arff.loadarff('labels/valence/train_1.arff')
data_label_valence = pd.DataFrame(data_label_valence[0])
print(data_label_valence)

# # merged features + annotation by frametime arousal
# merged = data_train.merge(data_label, how='left', on='frametime')
# print(merged)
#
# #  merged features + annotation arousal/valence
# merged_total = merged.merge(data_label_valence, how='left', on='frametime')
# print(merged_total)

# merged dataset of annotation - arousal/valence
merged_annotation = data_label.merge(data_label_valence, how='left', on='frametime')
print(merged_annotation)

# merged features + annotation by frametime
merged = data_train.merge(merged_annotation, how='left', on='frametime')
merged

      frametime  GoldStandardValence
0          0.00            -0.025661
1          0.04            -0.025661
2          0.08            -0.025661
3          0.12            -0.025661
4          0.16            -0.025661
...         ...                  ...
7496     299.84             0.101006
7497     299.88             0.101006
7498     299.92             0.101006
7499     299.96             0.101006
7500     300.00             0.101006

[7501 rows x 2 columns]
      frametime  GoldStandardArousal  GoldStandardValence
0          0.00            -0.019902            -0.025661
1          0.04            -0.019902            -0.025661
2          0.08            -0.019902            -0.025661
3          0.12            -0.019902            -0.025661
4          0.16            -0.019902            -0.025661
...         ...                  ...                  ...
7496     299.84             0.026764             0.101006
7497     299.88             0.025098             0.101006
7498     299.92             0.021764             0.101006
7499     299.96             0.020098             0.101006
7500     300.00             0.018431             0.101006

[7501 rows x 3 columns]

,frametime,AU01_r_mean,AU02_r_mean,AU04_r_mean,AU05_r_mean,AU06_r_mean,AU07_r_mean,AU09_r_mean,AU10_r_mean,AU12_r_mean,...,AU14_r_std,AU15_r_std,AU17_r_std,AU20_r_std,AU23_r_std,AU25_r_std,AU26_r_std,AU45_r_std,GoldStandardArousal,GoldStandardValence
0,0.0,0.106990,0.0,0.025586,0.017015,1.6269,1.1688,0.34401,1.1969,1.0471,...,0.35901,0.14949,0.57717,0.11262,0.38203,0.78689,0.22132,0.079360,-0.019902,-0.025661
1,0.4,0.069754,0.0,0.029648,0.019715,1.7723,1.2874,0.39672,1.2833,1.2055,...,0.28882,0.15247,0.60335,0.11909,0.41000,0.83146,0.21288,0.085122,-0.019902,-0.025661
2,0.8,0.002540,0.0,0.035241,0.023435,1.8912,1.3600,0.46930,1.3793,1.3525,...,0.27850,0.16391,0.57446,0.12654,0.44515,0.88307,0.15062,0.092345,-0.001569,-0.025661
3,1.2,0.000000,0.0,0.043437,0.028885,1.9639,1.4077,0.55417,1.4234,1.4557,...,0.28706,0.18108,0.58228,0.13489,0.49113,0.92663,0.14982,0.101760,-0.001569,-0.025661
4,1.6,0.000000,0.0,0.056600,0.037638,2.0157,1.4732,0.61232,1.4870,1.5672,...,0.30839,0.20503,0.65853,0.14299,0.55580,0.96186,0.16680,0.114740,0.016764,-0.020661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,298.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.133431,0.094339
747,298.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.110098,0.104339
748,299.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.088431,0.104339
749,299.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.038431,0.101006
750,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.018431,0.101006